html body {
  margin: 0px;
}

.root {
  background-image: url('../img/Background_top.png');
  background-repeat: repeat-x;
  background-position: top;
  z-index: 1;
}

.root-inner {
  background-image: url('../img/Background_bottom.png');
  min-height: 2400px;
  background-repeat: repeat-x;
  background-position: bottom;
  z-index: 1;
}

.contaiener {
  position: relative;
  width: 950px;
  margin: 0 auto;
}

header .contaiener.top {
  height: 195px;
}

header a.logo_pig {
  background-image: url('../img/Pig.png');
  background-repeat: no-repeat;
  width: 155px;
  height: 90px;
  position: absolute;
  top: 45px;
  left: 400px;
}

header a.logo_brand {
  background-image: url('../img/Pizza_Amici.png');
  background-repeat: no-repeat;
  width: 365px;
  height: 55px;
  position: absolute;
  left: 23px;
  top: 73px;
}

header p.p1 {
  position: absolute;
  top: 144px;
  left: 23px;
  margin: 0;
  color: white;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Patua One', sans-serif;
}

header ul.socials {
  position: absolute;
  right: 0px;
  bottom: 10px;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

header ul.socials li {
  display: block;
  background-image: url('../img/Border.png');
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  padding: 3px 0 0 4px;
  box-sizing: border-box;
}

header ul.socials li a {
  display: block;
  width: 24px;
  height: 25px;
  border-radius: 50%;
  margin: 0px;
  background-color: #1c5f13;
  background-repeat: no-repeat;
  background-position: center;
}

header ul.socials li a.fb {
  background-image: url('../img/Facebook icon.png');
}

header ul.socials li a.tw {
  background-image: url('../img/Twitter icon.png');
}

header ul.socials li a.rss {
  background-image: url('../img/RSS icon.png');
}
header ul.socials li a.ml {
  background-image: url('../img/Mail icon.png');
}

header .main_menu {
  background-image: url('../img/Top_Bar.png');
  background-repeat: repeat-x;
  list-style-type: none;
  height: 64px;
}

header .main_menu .contaiener {
  position: relative;
  display: flex;
  justify-content: space-between;
}

header .main_menu nav ul {
  display: flex;
  align-items: center;
  height: 64px;
  margin: 0;
  margin-left: 15px;
  padding: 0;
}

header .main_menu nav ul li {
  display: block;
}

header .main_menu nav ul li:not(:last-child)::after {
  content: '|';
  font-size: 25px;
  text-shadow: 1px 3px 0px rgba(0, 0, 0, 0.12);
  color: white;
}

header .main_menu nav ul li a {
  display: inline-block;
  padding: 3px 5px;
  margin: 0 4px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  font-weight: bolder;
  font-size: 22px;
  text-shadow: 1.5px 2.6px 0px rgba(0, 0, 0, 0.12);
  font-family: 'Acme', sans-serif;
}

header .main_menu nav ul li a:hover {
  background-color: rgb(28, 95, 19);
  text-decoration: none;
}

header .main_menu .red_flag {
  position: absolute;
  top: -10px;
  left: 640px;
  width: 72px;
  height: 79px;
  background-image: url('../img/Flag.png');
}

header .main_menu .red_flag a {
  color: white;
  display: block;
  text-align: center;
  font-size: 20px;
  line-height: 1em;
  text-shadow: 0px 2px 0px rgba(5, 3, 5, 0.24);
  text-decoration: none;
  margin-top: 18px;
  margin-left: 12px;
  font-family: 'league-gothic', sans-serif;
  width: 55px;
  height: 50px;
}

header form {
  display: flex;
  align-items: center;
}

header form input {
  width: 115px;
  height: 28px;
  margin-left: 5px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #164b0f;
  font-family: 'Acme', sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: white;
}

header form .input_login {
  width: 72px;
}

header form input:hover {
  background-color: rgb(24, 97, 14);
  cursor: pointer;
  text-align: left;
  color: white;
}

header form input::-webkit-input-placeholder {
  color: white;
}

header .ch {
  width: 1px;
  height: 20px;
  margin-left: 5px;
  background-color: white;
  box-shadow: 1px 2px 0px rgba(5, 3, 5, 0.24);
}

main {
  width: 950px;
  margin: 0 auto;
}

main .shield_slide {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

main .shield {
  background-image: url("../img/Shield.png");
  background-repeat: no-repeat;
  height: 275px;
  width: 295px;
  margin-left: 53px;
}
main .border_shield p {
  text-align: center;
  font-family: "Acme", sans-serif;
  font-size: 17px;
  margin-top: 0px;
  color: white;
} 

main .border_shield p.blog01 {
  margin-top: 10px;
}

main .border_shield p.blog02 {
  margin-top: 10px;
}

main .border_shield {
  display: inline-block;
  background-image: url("../img/border shield.png");
  background-repeat: no-repeat;
  width: 285px;
  height: 265px;
  margin-top: 5px;
  margin-left: 5px;
}

main .weekly {
  display: inline-block;
  background-image: url("../img/WEEKLY SPECIAL.png");
  background-repeat: no-repeat;
  width: 205px;
  height: 45px;
  margin-top: 20px;
  margin-left: 40px;
}

main .wrapper_slide {
  margin-left: 30px;
}

.slider_frame {
  background-image: url("../img/Nostalgic Frame.png");
  position: absolute;
  top: 279px;
  z-index: 13;
  width: 570px;
  left: 276;
  height: 275px;
}

main .slider {
  overflow: hidden;
  width: 568px;
  height: 275px;
  box-shadow: #0000008c 0px 9px 20px 1px;
}

main .slider_line {
  display: flex;
  width: 1650px;
  height: 275px;
  position: relative;
  left: 0px;
  transition: all ease 1s;
}
.buttons {
  position: absolute;
  top: 390px;
  z-index: 14;
}

.button {
  width: 50px;
  height: 52px;
  cursor: pointer;
  border: none;
  outline: none;
  background-repeat: no-repeat;
  background-color: transparent;
  padding: 0px;
}

.button_left {
  background-image: url("../img/Carousel Box left.png");
  position: relative;
  right: 35px;
}

.button_right {
  background-image: url("../img/Carousel Box right.png");
  position: relative;
  left: 500px;
}

.button_decoration  {
  display: flex;
  position: absolute;
  top: 438px;
  left: 246px;
  
}

.button_shadow_left {
  background-image: url("../img/Shadow Carousel left.png");
  width: 40px;
  height: 13px;
}

.button_shadow_right {
  background-image: url("../img/Shadow Carousel right.png");
  width: 40px;
  height: 13px;
  margin-left: 550px ;
}

.shadow_under_aside {
  position: absolute;
  border-radius: 18px 18px;
  width: 280px;
  height: 1260px;
  top: 685px;
  left: 908px;
  box-shadow: 0px 0px 20px 1px #888888;
  z-index: 1;
}

.shadow_border_aside {
  z-index: 3;
  position: absolute;
  width: 280px;
  height: 1380px;
  top: 600px;
  left: 908px;
  background-color: white;
}


aside {
  display: inline-block;
  width: 310px;
  height: 1300px; 
  position: absolute;
  top: 654px;
  left: 895px;
  z-index: 3;
}

aside .Pizza_Bre {
  display: inline-block;
  background-image: url("../img/Outer Border.png");
  background-repeat: no-repeat;
  width: 275px;
  height: 160px;
  margin-left: 17px;
}

aside .Bre_inner {
  display: inline-block;
  background-image: url("../img/Inner Border.png");
  background-repeat: no-repeat;
  width: 265px;
  height: 150px;
  margin-top: 6px;
  margin-left: 5px;
  
}

aside .Bre_logo {
  display: inline-block;
  background-image: url("../img/Headline.png");
  background-repeat: no-repeat;
  width: 200px;
  height: 45px;
  margin-left: 32px;
  margin-top: 10px;
}
 aside .Bre_text01 {
   text-align: center;
   font-size: 17px;
   font-family: "PatuaOne", sans-serif;
   font-weight: bold;
   margin-top: 0px;
   color: #1c5f13;
 }

 aside .Bre_text02 {
  text-align: center;
  font-size: 17px;
  font-family: "PatuaOne", sans-serif;
  margin-top: 0px;
  color: #1c5f13;
}

aside .classics {
  display: inline-block;
  background-image: url("../img/Wooden Sign.png");
  background-repeat: no-repeat;
  width: 227px;
  height: 138px;
  position: relative;
  top: -3px;
  margin-left: 41px;
}

aside .classics p {
  font-family: 'Acme', sans-serif;
  font-size: 30px;
  color: white;
  margin-top: 90px;
  text-align: center;
}

aside .Plank_bg01 {
  display: inline-block;
  background-image: url("../img/Plank Background1.png");
  background-repeat: no-repeat;
  width: 225px;
  height: 150px;
  margin-top: 25px;
  margin-left: 42px;
}

aside .Plank_bg01 p {
  color: black;
  margin: 8px 0px 0px 0px;
  font-family: 'Patua One', sans-serif;
  text-align: center;
  font-size: 14px;
  width: 220px;
}

aside .Plank_bg01 p.price{
  color: red;
  font-family: 'Patua One', sans-serif;
  font-size: 18px;
  margin: 5px 0px 0px 0px;
}

aside .Plank_bg01 h6 {
  color: white;
  margin: 0px 0px 0px 0px;
  font-family: 'Patua One', sans-serif;
  font-size: 24px;
  text-align: center;
}

aside .Plank_bg01 h6.bolognese {
  color: rgb(91, 67, 47);
}

aside .Plank_bg02 {
  display: inline-block;
  background-image: url("../img/Plank Background1.png");
  background-repeat: no-repeat;
  width: 225px;
  height: 150px;
  margin-top: 25px;
  margin-left: 42px;
}

aside .Plank_bg02 p {
  color: black;
  margin: 8px 0px 0px 0px;
  font-family: 'Patua One', sans-serif;
  text-align: center;
  font-size: 14px;
  width: 220px;
}

aside .Plank_bg02 p.price{
  color: red;
  font-family: 'Patua One', sans-serif;
  font-size: 18px;
  margin: 15px 0px 0px 0px;
}

aside .Plank_bg02 h6 {
  color: white;
  margin: 0px 0px 0px 0px;
  font-family: 'Patua One', sans-serif;
  font-size: 24px;
  text-align: center;
}

aside .Plank_bg02 h6.fungi {
  color: rgb(91, 67, 47);
}

aside .container_review p {
  font-family: 'Acme', sans-serif;
  font-size: 25px;
  color: red;
  text-align: center;
  margin-top: 30px;
}

aside .review01 {
  display: inline-block;
  background-image: url("../img/Rectangle.png");
  background-repeat: no-repeat;
  width: 223px;
  height: 140px;
  margin-left: 43px;
}

aside .review_inner01 {
  display: inline-block;
  background-image: url("../img/Arrow.png");
  background-repeat: no-repeat;
  width: 60px;
  height: 25px;
  position: relative;
  top: 44px;
  left: 35px;
}

aside .review01 .chef {
  display: inline-block;
  background-image: url("../img/chef.png");
  background-repeat: no-repeat;
  width: 51px;
  height: 45px;
  position: relative;
  top: 85px;
  left: -65px;
}

aside  .review01 .review_text {
  font-size: 14px;
  margin: 0px;
  text-align: center;
  color: white;
  position: relative;
  top: -42px;
  padding: 0px 8px;
}

aside .review02 {
  display: inline-block;
  background-image: url("../img/Rectangle.png");
  background-repeat: no-repeat;
  width: 223px;
  height: 140px;
  margin-left: 43px;
}

aside .review_inner02 {
  display: inline-block;
  background-image: url("../img/Arrow.png");
  background-repeat: no-repeat;
  width: 60px;
  height: 25px;
  position: relative;
  top: 44px;
  left: 35px;
}

aside .review02 .chef {
  display: inline-block;
  background-image: url("../img/chef.png");
  background-repeat: no-repeat;
  width: 51px;
  height: 45px;
  position: relative;
  top: 85px;
  left: -65px;
}

aside  .review02 .review_text {
  font-size: 14px;
  margin: 0px;
  text-align: center;
  color: white;
  position: relative;
  top: -42px;
  padding: 0px 8px;
}

aside .review01 p.chef_name01{
color: black;
margin: 0px;
font-size: 13px;
position: relative;
top: -14px;
}

aside .review02 p.chef_name02{
color: black;
margin: 0px;
font-size: 13px;
position: relative;
top: -14px;
}


aside .container_review hr {
  border:none;
  border-top:2px dashed rgb(138, 186, 129);
  color:#fff;
  background-color:#fff;
  width: 223px;
  height:1px;
  margin-top: 20px;
  margin-bottom: 25px;
}

aside .container_review .deco_element {
  display: inline-block;
  background-image: url("../img/Deco Element.png");
  background-repeat: no-repeat;
  width: 160px;
  height: 230px;
  margin-left: 75px;
}

main .block01 {
  display: inline-block;
  width: 620px;
  height: 500px;
  margin-top: 100px;
  margin-left: 10px;
}

main .element_sign {
  display: inline-block;
  background-image: url("../img/Ribbon.png");
  background-repeat: no-repeat;
  width: 620px;
  height: 66px;

}

main h2 {
  text-align: center;
  color: white;
  font-family: 'Acme', sans-serif;
  font-size: 30px;
  margin-top: 3px;
  margin-bottom: 5px;
}


main .element_sign_inner {
  display: flex;
  justify-content: center;
  width: 100%;
  height:66px ;
}

main .element_sign_inner h2 {
  color: #1c5f13;
  text-align: center;
}

main .element_sign_inner .decor_element01 {
  background-image: url("../img/Ornament left.png");
  background-repeat: no-repeat;
  width: 54px;
  height: 20px;
  margin-top: 14px;
  margin-left: 20px;
  
}

main .element_sign_inner .decor_element02 {
  background-image: url("../img/Ornament left.png");
  background-repeat: no-repeat;
  width: 54px;
  height: 20px;
  margin-top: 14px;
  margin-right: 20px;
  
}

main .main_block{
  display:flex;
  background-image: url("../img/Wooden Texture.png");
  background-repeat: no-repeat;
  width: 577px;
  height: 327px;
  margin-left: 21px;
  margin-top: 30px;
  box-shadow: #0000008c 0px 9px 20px 1px;
}

main .main_block .element_pizza {
 
  width: 158px;
  height: 250px;

  margin-left: 24px;
}

main h3.child_pizza {
margin: 0;
width: 100%;
text-align: left;
font-family: "PatuaOne", sans-serif;
font-size: 17px;
color: #1c5f13;
font-weight: initial;
margin: 5px;
}

main p.description_pizza {
  margin: 0px;
  margin-top: 5px;
  font-size: 14px;
  margin: 5px;
}

main p.price {
  color: red;
  font-size: 16px;
  font-family: "PatuaOne", sans-serif;
  margin: 5px;

}

main .element_pizza .pizza_frame {
  background-image: url("../img/Frame.png");
  background-repeat: no-repeat;
  width: 158px;
  height: 117px;
  margin-top: 10px;
  box-shadow: #0000008c 0px 7px 20px 1px;
}
main .element_pizza .pizza_image {
  display: inline-block;
  background-repeat: no-repeat;
  width: 144px;
  height: 103px;
  margin: 7px 0px 0px 7px;
}

main .container_element_pizza {
  display: flex;
}

main .main_block .open_menu_button{
  display: inline-block;
  background-image: url("../img/Ribbon1.png");
  background-repeat: no-repeat;
  width: 125px;
  height: 45px;
  position: absolute;
  top: 1086px;
  left: 753px;
}

main .open_menu_button a {
  text-decoration: none;
  color: white;
  margin-left: 15px;
  font-size: 18px;
  border-top: 1px dashed white;
  border-bottom: 1px dashed white;
  font-family: 'league-gothic', sans-serif;
  margin-top: 2px;
  width: 83px;
  display: block;
  text-align: center;
}

main .open_menu_button a:hover {
  color: gainsboro;
}

main .container_head {
  height: 60px;
}

main .block02{
margin-top: -33px;
margin-left: -15px;
}

main .block02 .head {
display: flex;
background-image: url("../img/Title Bar.png");
background-repeat: no-repeat;
width: 580px;
height: 65px;
margin: 100px 0px 0px 44px;
}

main .block02 .head h3 {
  font-weight: initial;
  color: white;
  font-family: 'Acme', sans-serif;
  margin: 7px 0px 0px 15px;
  font-size: 22px;
}

main .block02 .head h4 {
  font-weight: initial;
  color: white;
  font-size: 12px;
  font-family: 'Patua One', sans-serif;
  margin: 12px 0px 0px 130px;
}

main .container_head .red_flag02 {
  display: inline-block;
  background-image: url("../img/Ribbon2.png");
  background-repeat: no-repeat;
  width: 60px;
  height: 67px;
  position: relative;
  top: -73px;
  left: 540px;
}

main  .red_flag02 a {
  display: block;
  font-family: 'league-gothic', sans-serif;
  color: white;
  margin: 6px 0px 0px 15px;
  font-size: 16px;

}

main  .red_flag02 p {
  font-family: 'league-gothic', sans-serif;
  color: white;
  font-size: 22px;
  margin: -3px 0px 0px 24px;
  
}

main .block02 .top_img {
  display: inline-block;
  background-image: url("../img/pizza2.png");
  background-repeat: no-repeat;
  width: 579px;
  height: 131px;
  margin-left: 44px;
}

main .main_text p {
  width: 579px;
  margin-left: 44px;
  margin-top: 8px;
  text-align: justify;
  font-family: sans-serif;
}

main .button_read_more {
  width: 112px;
  height: 35px;
}

main .button_read_more input {
  width: 112px;
  height: 35px;
  background-color: rgb(251, 0, 6);
  border: none;
  cursor: pointer;
  margin-left: 44px;
  color: white;
}

main .button_read_more input:hover {
  background-color: rgb(194, 15, 18);
}

main .block02 .hr_main {
  border:none;
  border-top:2px dashed rgb(138, 186, 129);
  color:#fff;
  background-color:#fff;
  width: 70%;
  height:1px;
  margin-top: 20px;
  margin-bottom: 25px;
  margin-right: 342px;
  width: 579px;
}

main .block03{
margin-left: -15px;
}


main .head_block03 {
  width: 577px;
  height: 55px;
  margin-left: 44px;
}

main .head_block03_inner {
  display: flex;
  justify-content: center;
}

main .head_block03_inner h3 {
  text-align: center;
  font-weight: initial;
  font-family: 'Acme', sans-serif;
  color: #1c5f13;
  font-size: 30px;
  margin: 15px 0px 0px 0px;
}

main .head_block03_inner .decor_element_block03 {
  display: inline-block;
  background-image: url("../img/Ornament left.png");
  background-repeat: no-repeat;
  width: 54px;
  height: 18px;
  background-repeat: no-repeat;
  margin: 28px 20px 0px 20px;  
}

main .main_block03{
  display: flex;
  width: 577px;
  height: 370px;
  margin: 30px 0px 0px 44px;
}

main .main_block03 .element_pizza_block03 {
  width: 158px;
  height: 250px;
  margin-left: 24px;
}

main h3.child_pizza_block03 {
margin: 0;
width: 100%;
text-align: left;
font-family: "PatuaOne", sans-serif;
font-size: 17px;
color: #1c5f13;
font-weight: initial;
margin: 5px;
}

main p.description_pizza_block03 {
  margin: 0px;
  margin-top: 5px;
  font-size: 14px;
  margin: 5px;
}


main .element_pizza_block03 .pizza_image_block03 {
  display: inline-block;
  background-repeat: no-repeat;
  width: 144px;
  height: 103px;
  margin: 7px 0px 0px 4px;
  box-shadow: 0px 5px 20px 0px #0000007a;
}

footer {
  width: 941px;
  height: 400px;
  margin-left: 250px;
  margin-top: 35px;
}

footer .footer_shield {
  background-image: url("../img/Footer Shield Background.png");
  background-repeat: no-repeat;
  width: 940px;
  height: 277px;
}

footer .footer_border {
  display: inline-block;
  background-image: url("../img/Border footer.png");
  background-repeat: no-repeat;
  width: 930px;
  height: 268px;
  margin: 4px 0px 0px 5px;
}

footer .footer_ribbon {
  display: inline-block;
  justify-content: center;
  background-image: url("../img/Ribbon3.png");
  background-repeat: no-repeat;
  width: 620px;
  height: 65px;
  position: relative;
  left: 160px;
  top: -33px;
}

footer  h3 {
  color: white;
  font-family: 'Acme', sans-serif;
  font-size: 25px;
  text-align: center;
  font-weight: initial;
  width: 620px;
  height: 40px;
  margin: 4px 0px 0px 0px;
}

.footer_socials {
  width: 128px;
  height: 33px;
  position: absolute;
  left: 250px;
  top: 2350px;
}

footer ul.socials {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

footer ul.socials li {
  display: block;
  background-image: url('../img/Border.png');
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  padding: 3px 0 0 4px;
  box-sizing: border-box;
}

footer ul.socials li a {
  display: block;
  width: 24px;
  height: 25px;
  border-radius: 50%;
  margin: 0px;
  background-color: #1c5f13;
  background-repeat: no-repeat;
  background-position: center;
}

footer ul.socials li a.fb {
  background-image: url('../img/Facebook icon.png');
}

footer ul.socials li a.tw {
  background-image: url('../img/Twitter icon.png');
}

footer ul.socials li a.rss {
  background-image: url('../img/RSS icon.png');
}
footer ul.socials li a.ml {
  background-image: url('../img/Mail icon.png');
}

footer .copyright {
  position: absolute;
  left: 500px;
  top: 2340px;
}

footer .copyright p {
  color: #1c5f13;
}

footer .container_footer_shield {
  display: flex;
  margin-top: -30px;
}

footer .footer_block:not(:last-child){
  border-right: 1px dashed white;
}

footer .footer_block01 {
  width: 260px;
  height: 200px;
} 


footer .footer_block02 {
  width: 410px;
  height: 200px;
}

footer .footer_block03 {
  width: 260px;
  height: 200px;
}

footer .footer_block01 ul {
  display: inline-block;
  margin: 0px;
  width: 65px;
  padding-left: 30px;
  margin-top: 10px;
}

footer .footer_block01 ul.time_table {
  display: inline-block;
  margin: 0px;
  width: 130px;
  padding-left: 15px;
  margin-top: 10px;
}

footer .footer_block01 li{
  list-style: none; 
}

footer .footer_block01 li p {
  font-family: 'Acme', sans-serif;
  font-size: 16px;
  margin: 0px;
  color: white;
}
footer .footer_block01 h4 {
  font-weight: initial;
  color: white;
  margin: 10px 0px 0px 30px;
  font-size: 19px;
  width: 60px;
  font-family: 'Acme', sans-serif;
}

footer .footer_block02 h4 {
  font-weight: initial;
  color: white;
  margin: 10px 0px 0px 15px;
  font-size: 19px;
  width: 200px;
  font-family: 'Acme', sans-serif;
}

footer .footer_block02 .container_geolocation {
  display: inline-block;
  width: 168px;
}

footer .footer_block02 .map {
  background-image: url("../img/geolocation.png");
  background-repeat: no-repeat;
  width: 151px;
  height: 117px;
  margin-left: 15px;
  margin-top: 10px;
}

footer .footer_block02 .container_geolocation a {
  display: block;
  margin-top: 15px;
  width: 100px;
  margin-left: 20px;
  text-decoration: none;
  color: white;
}

footer .footer_block02 .container_geolocation a:hover {
  color: gainsboro;
}

footer .info_block02 {
  float: right;
  width: 213px;
  height: 166px;
  margin-right: 10px;
}

footer .info_block02 p {
  color: white;
  font-size: 14px;
  font-family: 'Acme', sans-serif;
  margin: 0px;
}

footer .info_block02 .adress {
margin-bottom: 8px;
margin-top: 10px;
}

footer .info_block02 .phone_number {
  margin-bottom: 8px;
  }

footer .info_block02 a {
  color: white;
  text-decoration: none;
  font-family: 'Acme', sans-serif;
  font-size: 13px;
}

footer .info_block02 a:hover {
  color: gainsboro;
}

footer .footer_block03 h4 {
  font-weight: initial;
  color: white;
  margin: 10px 0px 0px 15px;
  font-size: 19px;
  font-family: 'Acme', sans-serif;
}

footer .blog_block01 {
  margin-left: 20px;
}

footer .blog_block01 p {
 margin: 7px 0px 0px 0px;
 color: #164b0f;
}

footer .blog_block01 .blog_block01_comment {
  color: white;
  margin-top: 5px;
}

footer .blog_block02 {
  margin-left: 20px;
  margin-top: 15px;

}

footer .blog_block02 p {
  margin: 7px 0px 0px 0px;
  color: #164b0f;
 }
 
 footer .blog_block02 .blog_block02_comment {
   color: white;
   margin-top: 5px;
 }

 footer .container_block03_footer {
   width: 250px;
 }