html body {
  margin: 0px;
}

.root {
  background-image: url('../img/Background_top.png');
  background-repeat: repeat-x;
  background-position: top;
  z-index: 1;
}

.root-inner {
  background-image: url('../img/Background_bottom.png');
  min-height: 2400px;
  background-repeat: repeat-x;
  background-position: bottom;
  z-index: 1;
}

.contaiener {
  position: relative;
  width: 1100px;
  margin: 0 auto;
}

header .contaiener.top {
  height: 195px;
}

header a.logo_pig {
  background-image: url('../img/Pig.png');
  background-repeat: no-repeat;
  width: 155px;
  height: 90px;
  position: absolute;
  top: 45px;
  left: 400px;
}

header a.logo_brand {
  background-image: url('../img/Pizza_Amici.png');
  background-repeat: no-repeat;
  width: 365px;
  height: 55px;
  position: absolute;
  left: 10px;
  top: 73px;
}

header p.p1 {
  position: absolute;
  top: 144px;
  left: 10px;
  margin: 0;
  color: white;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Patua One', sans-serif;
}

header ul.socials {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

header ul.socials li {
  display: block;
  background-image: url('../img/Border.png');
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  padding: 3px 0 0 4px;
  box-sizing: border-box;
}

header ul.socials li a {
  display: block;
  width: 24px;
  height: 25px;
  border-radius: 50%;
  margin: 0px;
  background-color: #1c5f13;
  background-repeat: no-repeat;
  background-position: center;
}

header ul.socials li a.fb {
  background-image: url('../img/Facebook icon.png');
}

header ul.socials li a.tw {
  background-image: url('../img/Twitter icon.png');
}

header ul.socials li a.rss {
  background-image: url('../img/RSS icon.png');
}
header ul.socials li a.ml {
  background-image: url('../img/Mail icon.png');
}

header .main_menu {
  background-image: url('../img/Top_Bar.png');
  background-repeat: repeat-x;
  list-style-type: none;
  height: 64px;
}

header .main_menu .contaiener {
  position: relative;
  display: flex;
  justify-content: space-between;
}

header .main_menu nav ul {
  display: flex;
  align-items: center;
  height: 64px;
  margin: 0;
  padding: 0;
}

header .main_menu nav ul li {
  display: block;
}

header .main_menu nav ul li:not(:last-child)::after {
  content: '|';
  font-size: 25px;
  text-shadow: 1px 3px 0px rgba(0, 0, 0, 0.12);
  color: white;
}

header .main_menu nav ul li a {
  display: inline-block;
  padding: 3px 5px;
  margin: 0 4px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  font-weight: bolder;
  font-size: 25px;
  text-shadow: 1.5px 2.6px 0px rgba(0, 0, 0, 0.12);
  font-family: 'Acme', sans-serif;
}

header .main_menu nav ul li a:hover {
  background-color: rgb(28, 95, 19);
  text-decoration: none;
}

header .main_menu .red_flag {
  position: absolute;
  top: -10px;
  left: 700px;
  width: 72px;
  height: 79px;
  background-image: url('../img/Flag.png');
}

header .main_menu .red_flag a {
  color: white;
  display: block;
  text-align: center;
  font-size: 20px;
  line-height: 1em;
  text-shadow: 0px 2px 0px rgba(5, 3, 5, 0.24);
  text-decoration: none;
  margin-top: 18px;
  margin-left: 12px;
  font-family: 'league-gothic', sans-serif;
  width: 55px;
  height: 50px;
}

header form {
  display: flex;
  align-items: center;
}

header form input {
  width: 120px;
  height: 28px;
  margin-left: 5px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #164b0f;
  font-family: 'Acme', sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: white;
}

header form input:hover {
  background-color: rgb(24, 97, 14);
  cursor: pointer;
  text-align: left;
  color: white;
}

header form input::-webkit-input-placeholder {
  color: white;
}

header .ch {
  width: 1px;
  height: 20px;
  margin-left: 5px;
  background-color: white;
  box-shadow: 1px 2px 0px rgba(5, 3, 5, 0.24);
}

main {
  width: 1100px;
  margin: 0 auto;
  
}

main .shield_slide {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

main .shield {
  background-image: url("../img/Shield.png");
  background-repeat: no-repeat;
  height: 275px;
  width: 295px;
}
main .border_shield p {
  text-align: center;
  font-family: "Acme", sans-serif;
  font-size: 17px;
  margin-top: 0px;
  color: white;
} 

main .border_shield p.blog01 {
  margin-top: 10px;
}

main .border_shield p.blog02 {
  margin-top: 10px;
}

main .border_shield {
  display: inline-block;
  background-image: url("../img/border shield.png");
  background-repeat: no-repeat;
  width: 285px;
  height: 265px;
  margin-top: 5px;
  margin-left: 5px;

  
}
main .weekly {
  display: inline-block;
  background-image: url("../img/WEEKLY SPECIAL.png");
  background-repeat: no-repeat;
  width: 205px;
  height: 45px;
  margin-top: 20px;
  margin-left: 40px;

  
}

main .slide {
  background-image: url("../img/slider.png");
  background-repeat: no-repeat;
  width: 575px;
  height: 275px;
  margin-right: 195px;
  margin-left: 40px;
}

aside {
  display: inline-block;
  width: 310px;
  height: 1300px;
  border: 1px solid red; 
  position: relative;
  top: 150px;
  left: 805px;
}

aside .Pizza_Bre {
  display: inline-block;
  background-image: url("../img/Outer Border.png");
  background-repeat: no-repeat;
  width: 275px;
  height: 160px;
  margin-left: 17px;
}

aside .Bre_inner {
  display: inline-block;
  background-image: url("../img/Inner Border.png");
  background-repeat: no-repeat;
  width: 265px;
  height: 150px;
  margin-top: 6px;
  margin-left: 5px;
  
}

aside .Bre_logo {
  display: inline-block;
  background-image: url("../img/Headline.png");
  background-repeat: no-repeat;
  width: 200px;
  height: 45px;
  margin-left: 32px;
  margin-top: 10px;
}
 aside .Bre_text01 {
   text-align: center;
   font-size: 17px;
   font-family: "PatuaOne", sans-serif;
   font-weight: bold;
   margin-top: 0px;
   color: #1c5f13;
 }

 aside .Bre_text02 {
  text-align: center;
  font-size: 17px;
  font-family: "PatuaOne", sans-serif;
  margin-top: 0px;
  color: #1c5f13;
}

aside .classics {
  display: inline-block;
  background-image: url("../img/Wooden Sign.png");
  background-repeat: no-repeat;
  width: 227px;
  height: 138px;
  position: relative;
  top: -3px;
  margin-left: 41px;
}

aside .classics p {
  font-family: 'Acme', sans-serif;
  font-size: 30px;
  color: white;
  margin-top: 90px;
  text-align: center;
}

aside .Plank_bg01 {
  display: inline-block;
  background-image: url("../img/Plank Background1.png");
  background-repeat: no-repeat;
  width: 225px;
  height: 150px;
  margin-top: 25px;
  margin-left: 42px;
}

aside .Plank_bg01 p {
  color: black;
  margin: 8px 0px 0px 0px;
  font-family: 'Patua One', sans-serif;
  text-align: center;
  font-size: 14px;
  width: 220px;
}

aside .Plank_bg01 p.price{
  color: red;
  font-family: 'Patua One', sans-serif;
  font-size: 18px;
  margin: 5px 0px 0px 0px;
}

aside .Plank_bg01 h6 {
  color: white;
  margin: 0px 0px 0px 0px;
  font-family: 'Patua One', sans-serif;
  font-size: 24px;
  text-align: center;
}

aside .Plank_bg01 h6.bolognese {
  color: rgb(91, 67, 47);
}

aside .Plank_bg02 {
  display: inline-block;
  background-image: url("../img/Plank Background1.png");
  background-repeat: no-repeat;
  width: 225px;
  height: 150px;
  margin-top: 25px;
  margin-left: 42px;
}

aside .Plank_bg02 p {
  color: black;
  margin: 8px 0px 0px 0px;
  font-family: 'Patua One', sans-serif;
  text-align: center;
  font-size: 14px;
  width: 220px;
}

aside .Plank_bg02 p.price{
  color: red;
  font-family: 'Patua One', sans-serif;
  font-size: 18px;
  margin: 15px 0px 0px 0px;
}

aside .Plank_bg02 h6 {
  color: white;
  margin: 0px 0px 0px 0px;
  font-family: 'Patua One', sans-serif;
  font-size: 24px;
  text-align: center;
}

aside .Plank_bg02 h6.fungi {
  color: rgb(91, 67, 47);
}

aside .container_review p {
  font-family: 'Acme', sans-serif;
  font-size: 25px;
  color: red;
  text-align: center;
  margin-top: 30px;
}

aside .review01 {
  display: inline-block;
  background-image: url("../img/Rectangle.png");
  background-repeat: no-repeat;
  width: 223px;
  height: 140px;
  margin-left: 43px;
}

aside .review_inner01 {
  display: inline-block;
  background-image: url("../img/Arrow.png");
  background-repeat: no-repeat;
  width: 60px;
  height: 25px;
  position: relative;
  top: 44px;
  left: 35px;
}

aside .review01 .chef {
  display: inline-block;
  background-image: url("../img/chef.png");
  background-repeat: no-repeat;
  width: 51px;
  height: 45px;
  position: relative;
  top: 85px;
  left: -65px;
}

aside  .review01 .review_text {
  font-size: 14px;
  margin: 0px;
  text-align: center;
  color: white;
  position: relative;
  top: -42px;
  padding: 0px 8px;
}

aside .review02 {
  display: inline-block;
  background-image: url("../img/Rectangle.png");
  background-repeat: no-repeat;
  width: 223px;
  height: 140px;
  margin-left: 43px;
}

aside .review_inner02 {
  display: inline-block;
  background-image: url("../img/Arrow.png");
  background-repeat: no-repeat;
  width: 60px;
  height: 25px;
  position: relative;
  top: 44px;
  left: 35px;
}

aside .review02 .chef {
  display: inline-block;
  background-image: url("../img/chef.png");
  background-repeat: no-repeat;
  width: 51px;
  height: 45px;
  position: relative;
  top: 85px;
  left: -65px;
}

aside  .review02 .review_text {
  font-size: 14px;
  margin: 0px;
  text-align: center;
  color: white;
  position: relative;
  top: -42px;
  padding: 0px 8px;
}

aside .review01 p.chef_name01{
color: black;
margin: 0px;
font-size: 13px;
position: relative;
top: -14px;
}

aside .review02 p.chef_name02{
color: black;
margin: 0px;
font-size: 13px;
position: relative;
top: -14px;
}


aside .container_review hr {
  border:none;
  border-top:2px dashed rgb(138, 186, 129);
  color:#fff;
  background-color:#fff;
  width: 223px;
  height:1px;
  margin-top: 20px;
  margin-bottom: 25px;
}

aside .container_review .deco_element {
  display: inline-block;
  background-image: url("../img/Deco Element.png");
  background-repeat: no-repeat;
  width: 160px;
  height: 230px;
  margin-left: 75px;
}

/*aside .shadow01 {
  background-image: url("../img/Shadow Divider Right.png");
  background-repeat: no-repeat;
  width: 7px;
  height: 700px;
  position: relative;
  top: 5px;
  left: 5px;
}*/